QTabBar::close-button {
    image: url(:icons/breeze/22/window-close-dull.svg);
}

QTabBar::close-button:hover {
    image: url(:icons/breeze/22/window-close.svg);
}

QToolBar {
    border-bottom: none;
}
