QTabWidget::tab-bar {
    left: 32px;
    height: 32px;
}

QTabBar::tear {
    width: 0;
    border: none;
}

QTabBar::tab {
    height: 30px;
    color: #666;
    background-color: transparent;
    border-top: 2px solid transparent;
}

QTabBar::tab:selected {
    background: #fff;
    color: #000;
    border-color: #6464ff;
}

QTabBar::tab:hover:!selected {
    border-color: #777;
}

#tab-close-button {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    color: #666;
    background-color: transparent;
}

#tab-close-button:hover {
    color: rgba(255, 0, 0, 1);
    background-color: rgba(255, 0, 0, 0.5);
}

#add-tab-button {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
}

#tool-bar {
    background-color: #fff;
}

#tool-bar-button {
    margin: 1px;
    min-width: 24px;
    max-width: 24px;
    min-height: 24px;
    max-height: 24px;
    border-radius: 4px;
}

#tool-bar-button:hover {
    background-color: #f9f9f9;
}

#omni-bar {
    margin: 2px;
    padding: 3px;
    border: none;
    border-radius: 4px;
    color: #000;
    background-color: #f8f8f8;
    selection-color: #fff;
    selection-background-color: #6464ff;
}
