QTabWidget::tab-bar {
    left: 32px;
    height: 32px;
}

QTabBar::tab {
    height: 30px;
    color: #666;
    background-color: transparent;
    border-top: 2px solid transparent;
}

QTabBar::tab:selected {
    background: #fff;
    color: #000;
    border-color: #6464ff;
}

QTabBar::tab:hover:!selected {
    border-color: #777;
}

#addTabButton {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 2px;
    background-color: #fff;
}
