* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

#header {
    height: 70px;
    width: 100%;
}

#settings-button {
    float: right;
    margin: 10px;
    padding: 6px;
    display: inline-block;
}

#container {
    width: 87%;
    margin: auto;
    display: block;
    text-align: center;
}

.dial {
    background-color: white;
    background-size: cover;
    margin: 10px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 166px;
    height: 133px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.32);
}

.dial:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.32);
}

.dial > .removebutton {
    right: 3px;
    top: 3px;
    position: absolute;
    cursor: pointer;
}

.dial > .removebutton:hover {
    color: #dc143c;
}

.dial > .titlebar {
    position: absolute;
    text-align: center;
    background-color: #f0f0f0;
    padding: 2px;
    bottom: 0;
    width: 100%;
}

#add-dial-container {
    margin: 10px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 166px;
    height: 134px;
    text-align: center;
}

#add-dial-blurry-element {
    width: 100%;
    height: 100%;
    filter: blur(4px);
}

#add-dial-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    transform: translate(33px, 17px); // (166 - 100) / 2 = 33, (134 - 100) / 2 = 17
}

.ripple {
    position: absolute;
    transform: scale(0);
    border-radius: 50%;
    background-color: #e0e0e0;
    animation: 1s wave linear;
}

@keyframes wave {
    to {
        transform: scale(2.5);
        opacity: 0;
    }
}
